<div class="container py-5 d-flex justify-content-center align-items-center">
  <div class="card shadow border-0 p-4 w-100 text-center" style="max-width: 400px;">
    <div class="d-flex justify-content-center mb-3">
      <img src="images/FB_IMG_1754589930346.png" alt="Logo" style="width: 60px; height: 60px; border-radius: 50%;" />
    </div>

    <h5 class="fw-bold mb-2">إعادة تعيين كلمة المرور</h5>
    <p class="text-muted small mb-4">
      أدخل كلمة المرور الجديدة
    </p>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input
          type="password"
          formControlName="newPassword"
          class="form-control text-end"
          placeholder="كلمة المرور الجديدة"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control text-end"
          placeholder="تأكيد كلمة المرور"
        />
      </div>

      <button type="submit" class="btn btn-primary w-100">تأكيد</button>
    </form>
  </div>
</div>
