.status-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px dashed #198754;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
