<div class="container my-5 text-center">
  <h2 class="text-primary fw-bold mb-4">خدماتنا</h2>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 mb-4" *ngFor="let service of services">
      <div class="card service-card shadow border-0">
        <div class="position-relative overflow-hidden service-img-wrapper">
<img [src]="service.imageUrl" alt="service image" />

        </div>
        <div class="card-body bg-light-subtle">
          <h5 class="card-title fw-bold">{{ service.name }}</h5>
          <button class="btn btn-primary btn-sm mt-2" (click)="goToBook()">اطلب خدمة</button>
        </div>
      </div>
    </div>
  </div>
</div>
