<div class="container py-5 d-flex flex-column flex-lg-row align-items-center justify-content-between text-end">
  <div class="col-lg-6 mb-4 mb-lg-0">
    <h6 class="text-muted mb-2">مرحباً بك في صيانة الآن</h6>
    <h1 class="fw-bold text-primary-custom mb-3">
      صيانة منزلك أصبحت أسهل <br> وبدون تعقيد!
    </h1>
    <p class="text-secondary mb-4">
      نقدم خدمات صيانة تغطي جميع احتياجات منزلك من أعمال السباكة والكهرباء وخدمات أخرى، بجودة عالية وأسعار مناسبة، على يد فنيين محترفين يصلون إليك في أسرع وقت.
    </p>
    <button class="btn btn-primary-custom px-4 py-2 rounded-pill shadow-sm" (click)="goToBook()">
      اطلب زيارة
    </button>
  </div>

  <div class="col-lg-5 text-center">
    <img src="images/WhatsApp Image 2025-05-07 at 4.32.28 PM.png" class="img-fluid" alt="عامل صيانة متعدد المهام">
  </div>
</div>
